<template>
    <div>
        <md-table md-card>
            <md-table-toolbar>
                <h1 class="md-title">Faturas</h1>
                <Create v-on:created="inicialize"></Create>
            </md-table-toolbar>

            <md-table-row>
                <md-table-head md-numeric>ID</md-table-head>
                <md-table-head md-numeric>UsuarioId</md-table-head>
                <md-table-head>Empresa</md-table-head>
                <md-table-head>Valor</md-table-head>
                <md-table-head>Data Vencimento</md-table-head>
                <md-table-head>Pagou</md-table-head>
                <md-table-head>Opções</md-table-head>
            </md-table-row>

            <md-table-row v-for="fatura in faturas" :key="fatura.id">
                <md-table-cell md-numeric>{{ fatura.id }}</md-table-cell>
                <md-table-cell md-numeric>{{ fatura.iduser }}</md-table-cell>
                <md-table-cell>{{ fatura.nome_empresa }}</md-table-cell>
                <md-table-cell>R$ {{ fatura.valor }}</md-table-cell>
                <md-table-cell>{{ fatura.data_vencimento }}</md-table-cell>
                <md-table-cell>{{ fatura.pagou }}</md-table-cell>
                <md-table-cell>
                    <!-- <Update v-on:updated="inicialize" :fatura="fatura"></Update> -->
                    <Update v-on:updated="inicialize" :fatura="fatura"></Update>
                    <md-button class="md-fab md-mini md-plain" @click="handleDelete(fatura)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </md-table-cell>
            </md-table-row>    

        </md-table>
  </div>
</template>

<script>

import Create from '../components/Create'
import Update from '../components/Update'

export default {
  name: 'Faturas',
  data () {
    return {
      faturas: [],
      fatura: {}
    }
  },
  components: {
      'Create': Create,
      'Update': Update
  },
  methods: {
    inicialize () {
        this.$http.get('http://localhost:3000/faturas').then((response) => {
            console.log(response.body);
            this.faturas = response.body;
        });
    },
    handleDelete (fatura) {
        
        this.$http.delete('http://localhost:3000/faturas/'+fatura.id).then(response => {
            this.$emit('deleted')
        })
    },
    eventDeleted () {
        // reiniciamos o componente
        this.inicialize()
        // notifica o usuário
        let message = 'Fatura removida!'
        alert(message)
    }
  },
  created () {
        this.inicialize()
        this.$on('deleted', () => {
            this.eventDeleted()
        })
  }
}
</script>
