<template>
    <div>
        <md-card>
            <md-card-header>
                <div class="md-title">Bem Vindo!</div>
            </md-card-header>

            <md-card-content>
                CRUD em VueJS alimentado por uma API Rest em NodeJS.
            </md-card-content>
        </md-card>
  </div>
</template>

<script>
export default {
  name: 'Sobre'
}
</script>