<template>
    <div>
        <md-dialog :md-active.sync="showDialog">
        

            <form class="md-layout">

                <md-card class="md-layout-item md-size-100 md-small-size-100">
                    <md-card-header>
                        <div class="md-title">Editar Fatura</div>
                    </md-card-header>
                    <md-card-content>
                        <md-field>
                            <label>Empresa</label>
                            <md-input id="nome_empresa" v-model="fatura.nome_empresa"></md-input>
                        </md-field>

                        <md-field>
                            <label>Valor</label>
                            <md-input id="valor" v-model="fatura.valor"></md-input>
                        </md-field>

                        <md-field>
                            <label>Data Vencimento</label>
                            <md-input id="data_vencimento" v-model="fatura.data_vencimento" v-mask="'##/##/####'" placeholder="dd/mm/yyyy"></md-input>
                        </md-field>

                        <div class="md-layout-item">
                            <md-field>
                                <label for="pagou">Pagou</label>
                                <md-select name="pagou" id="pagou" v-model="fatura.pagou">
                                    <md-option value="S">Sim</md-option>
                                    <md-option value="N">Não</md-option>
                                </md-select>
                            </md-field>
                        </div>

                    </md-card-content>
                </md-card>

            </form>

            <md-dialog-actions>
                <md-button class="md-primary" @click="showDialog = false">Fechar</md-button>
                <md-button class="md-primary" @click="handleSubmit(fatura)">Salvar</md-button>
            </md-dialog-actions>

        </md-dialog>

        <md-button class="md-fab md-mini md-plain" @click="showDialog = true">
            <md-icon>edit</md-icon>
        </md-button>

    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: 'Update',
    props: ['fatura'],
    data: () => ({
        showDialog: false
    }),
    methods: {
        handleSubmit (fatura) {
            console.log('Passou');
            let mensagem = ''

            let dataDb = this.getDbDate(fatura.data_vencimento)
            fatura.data_vencimento = dataDb

            console.log(fatura)

            this.$http.put('http://localhost:3000/faturas/'+fatura.id, fatura)
                .then(function(response) {
                    // alert("Fatura alterada!")
                    this.showDialog = false;
                    this.$emit('updated')
                }).catch( function(err){
                    alert("Falhou!")
                    console.log(err);
                });

        },
        getDbDate : function (date) {
            return moment(date, 'DD/MM/YYYY').format('YYYY-MM-DD');
        }
    }
}
</script>